{{!--Cabezote de la pagina, menu de navegacion--}}
{{> navbar }}

{{!--Imagen de fondo--}}
<div class="bg-image" style="
background-image: url('/images/Living-Room.jpg');
min-height: 100vh;
background-size: cover;">
{{!--Mascara de transparencia--}}
<div class="mask" style="background-color: rgba(37, 37, 58, 0.5); min-height: 100vh;">

{{!--Contenedor principal--}}
<div class="container p-4">

  {{!--Card para el contenedor de de los elementos--}}
  <div class="card">
    {{!--header de la tarjeta--}}
    <div class="card-header">
      <div class="d-flex justify-content-center">
      <h2 class="card-title">Editar Propiedad</h2>
      </div>
    </div>

  {{!--Cuerpo de la tarjeta--}}
  <div class="card-body">

    {{!-Formulario--}}
    <form action="/assets/edit/{{Asset.ID}}" method="POST">
    
    {{!--Segmento de 2 columnas--}}
    <div class="row align-items-start">
    
    <div class="col">
    {{!--Arrendatario--}}
      <div class="form-group">
        <label for="Arrendatario" class="form-label">Persona</label>
        <div class="input-group">
          <span class="input-group-text"><i class="bi bi-person-fill"></i></span>
          <input type="text" class="form-control" id="Arrendatario" aria-describedby="ArrendatarioDesc" name="arrendatario" value="{{Asset.arrendatario}}" required>
        </div>
        <div id="ArrendatarioDesc" class="form-text">Persona a la cual se le esta negociando la propiedad.</div>
      </div>  
    </div>
    
    <div class="col">
    {{!--Operacion--}}
    <div class="form-group">
        <label for="Operacion" class="form-label">Operación</label>
        <div class="input-group">
          <span class="input-group-text"><i class="bi bi-bank2"></i></span>
          <select class="form-select" id="Operacion" aria-label="Tipo de Operacion" aria-describedby="OperacionDesc" name="operacion" required>
            <option value="{{Asset.operacion}}">Selección Original</option>
            <option value="Venta">Venta</option>
            <option value="Compra">Compra</option>
            <option value="Arriendo">Arriendo</option>
          </select>
        </div>
        <div id="OperacionDesc" class="form-text">Que clase de negociación se realiza.</div>
      </div>
    </div>
    
    </div>

    {{!--Segmento de 3 columnas--}}
    <div class="row align-items-start">

    <div class="col">
    {{!--Municipio--}}
      <div class="form-group">
        <label for="Municipio" class="form-label">Municipio</label>
        <div class="input-group">
          <span class="input-group-text"><i class="fas fa-city"></i></span>
          <input type="text" class="form-control" id="Municipio" aria-describedby="MunicipioDesc" name="municipio" value="{{Asset.municipio}}" required>
        </div>
        <div id="MunicipioDesc" class="form-text">Municipio donde esta ubicada la propiedad.</div>
      </div>
    </div>

    <div class="col">
    {{!--Barrio--}}
      <div class="form-group">
        <label for="Barrio" class="form-label">Barrio</label>
        <div class="input-group">
          <span class="input-group-text"><i class="bi bi-map-fill"></i></span>
          <input type="text" class="form-control" id="Barrio" aria-describedby="BarrioDesc" name="barrio" value="{{Asset.barrio}}" required>
        </div>
        <div id="BarrioDesc" class="form-text">Barrio donde esta ubicada la propiedad.</div>
      </div>
    </div>

    <div class="col">
    {{!--Direccion--}}
      <div class="form-group">
        <label for="Direccion" class="form-label">Dirección</label>
        <div class="input-group">
          <span class="input-group-text"><i class="bi bi-signpost-fill"></i></span>
          <input type="text" class="form-control" id="Direccion" aria-describedby="DireccionDesc" name="direccion" value="{{Asset.direccion}}" required>
        </div>
        <div id="DireccionDesc" class="form-text">Dirección de la propiedad.</div>
      </div>
    </div>

    </div>

    {{!--Segmento de 5 columnas--}}
    <div class="row align-items-start">

    <div class="col">
    {{!--Fecha De Pago--}}
      <div class="form-group">
        <label for="Fecha_Pago" class="form-label">Fecha De Pago</label>
        <div class="input-group">
          <span class="input-group-text"><i class="bi bi-calendar3"></i></span>
          <input type="date" class="form-control" id="Fecha_Pago" aria-describedby="Fecha_PagoDesc" name="fecha_pago" min="2000-01-01" max="3000-12-31" required>
        </div>
        <div id="Fecha_PagoDesc" class="form-text">Fecha donde se consignará el pago.</div>
      </div>
    </div>

    <div class="col">
    {{!--Valor--}}
      <div class="form-group">
        <label for="Valor" class="form-label">Valor</label>
        <div class="input-group">
          <span class="input-group-text"><i class="fas fa-dollar-sign"></i><i class="fas fa-home"></i></span>
          <input type="number" class="form-control" id="Valor" aria-describedby="ValorDesc" name="valor" min="1" max="999999999999" value="{{Asset.valor}}" required>
        </div>
        <div id="ValorDesc" class="form-text">Valor de la propiedad.</div>
      </div>
    </div>

    <div class="col">
    {{!--Valor Daños--}}
      <div class="form-group">
        <label for="Valor_Danos" class="form-label">Valor En Daños</label>
        <div class="input-group">
          <span class="input-group-text"><i class="fas fa-dollar-sign"></i><i class="fas fa-house-damage"></i></span>
          <input type="number" class="form-control" id="Valor_Danos" aria-describedby="Valor_DanosDesc" name="valor_danos" min="0" max="999999999999" value="{{Asset.valor_danos}}" required>
        </div>
        <div id="Valor_DanosDesc" class="form-text">Coste por daños hacia la propiedad (dejar en 0 si no aplica).</div>
      </div>
    </div>

    <div class="col">
    {{!--Valor Administracion--}}
      <div class="form-group">
        <label for="Valor_Admin" class="form-label">Coste Administración</label>
        <div class="input-group">
          <span class="input-group-text"><i class="fas fa-dollar-sign"></i><i class="fas fa-user-shield"></i></span>
          <input type="number" class="form-control" id="Valor_Admin" aria-describedby="Valor_AdminDesc" name="valor_admin" min="0" max="999999999999" value="{{Asset.valor_admin}}" required>
        </div>
        <div id="Valor_AdminDesc" class="form-text">Coste de la administración (dejar en 0 si no aplica).</div>
      </div>
    </div>

    <div class="col">
    {{!--Estrato--}}
    <div class="form-group">
        <label for="Estrato" class="form-label">Estrato</label>
        <div class="input-group">
          <span class="input-group-text"><i class="bi bi-file-bar-graph"></i></span>
          <select class="form-select" id="Estrato" aria-label="Estrato" aria-describedby="EstratoDesc" name="estrato" required>
            <option value="{{Asset.estrato}}">Selección Original</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
          </select>
        </div>
        <div id="EstratoDesc" class="form-text">El estrato de la propiedad.</div>
      </div>
    </div>

    </div>

    {{!--Segmento de 5 columnas--}}
    <div class="row align-items-start">
    
    <div class="col">
    {{!--Numero de Alcobas--}}
      <div class="form-group">
        <label for="Alcobas" class="form-label">Numero de Alcobas</label>
        <div class="input-group">
          <span class="input-group-text"><i class="bi bi-door-closed-fill"></i></span>
          <input type="number" class="form-control" id="Alcobas" aria-describedby="AlcobasDesc" name="alcobas" min="1" max="999999999" value="{{Asset.alcobas}}" required>
        </div>
        <div id="AlcobasDesc" class="form-text">La cantidad de habitaciones que tiene la propiedad.</div>
      </div>
    </div>

    <div class="col">
    {{!--Numero de Baños--}}
      <div class="form-group">
        <label for="Banios" class="form-label">Numero de Baños</label>
        <div class="input-group">
          <span class="input-group-text"><i class="fas fa-toilet-paper"></i></span>
          <input type="number" class="form-control" id="Banios" aria-describedby="BaniosDesc" name="banios" min="1" max="999999999" value="{{Asset.banios}}" required>
        </div>
        <div id="BaniosDesc" class="form-text">La cantidad de baños que tiene la propiedad.</div>
      </div>
    </div>

    <div class="col">
    {{!--Garage--}}
      <div class="form-group">
        <label for="Garage" class="form-label">Garage</label>
        <div class="input-group">
          <span class="input-group-text"><i class="fas fa-car"></i></span>
          <select class="form-select" id="Garage" aria-label="Garage o No" aria-describedby="GarageDesc" name="garage" required>
            <option value="{{Asset.garage}}">Selección Original</option>
            <option value="No">No</option>
            <option value="Sí">Sí</option>
          </select>
        </div>
        <div id="GarageDesc" class="form-text">Si la propiedad cuenta o no con garage.</div>
      </div>
    </div>

    <div class="col">
    {{!--Piscina--}}
      <div class="form-group">
        <label for="Piscina" class="form-label">Piscina</label>
        <div class="input-group">
          <span class="input-group-text"><i class="fas fa-swimmer"></i></span>
          <select class="form-select" id="Piscina" aria-label="Piscina o No" aria-describedby="PiscinaDesc" name="piscina" required>
            <option value="{{Asset.piscina}}">Selección Original</option>
            <option value="No">No</option>
            <option value="Sí">Sí</option>
          </select>
        </div>
        <div id="PiscinaDesc" class="form-text">Si la propiedad cuenta o no con piscina.</div>
      </div>
    </div>

    <div class="col">
    {{!--Cuarto Util--}}
      <div class="form-group">
        <label for="Cuarto_Util" class="form-label">Cuarto Útil</label>
        <div class="input-group">
          <span class="input-group-text"><i class="fas fa-toolbox"></i></span>
          <select class="form-select" id="Cuarto_Util" aria-label="Cuarto Util" aria-describedby="Cuarto_UtilDesc" name="cuarto_util" required>
            <option value="{{Asset.cuarto_util}}">Selección Original</option>
            <option value="No">No</option>
            <option value="Sí">Sí</option>
          </select>
        </div>
        <div id="Cuarto_UtileDesc" class="form-text">Si la propiedad cuenta con cuarto útil.</div>
      </div>
    </div>

    </div>

    {{!--Segmento de 3 columnas--}}
    <div class="row align-items-start">

    <div class="col">
    {{!--Unidad--}}
      <div class="form-group">
        <label for="Unidad" class="form-label">Tipo de Unidad</label>
        <div class="input-group">
          <span class="input-group-text"><i class="fas fa-warehouse"></i></span>
          <select class="form-select" id="Unidad" aria-label="Tipo de Unidad" aria-describedby="UnidadDesc" name="unidad" required>
            <option value="{{Asset.unidad}}">Selección Original</option>
            <option value="Abierta">Abierta</option>
            <option value="Cerrada">Cerrada</option>
          </select>
        </div>
        <div id="PiscinaDesc" class="form-text">Si la propiedad se encuentra en una unidad abierta o cerrada.</div>
      </div>
    </div>

    <div class="col">
    {{!--Porteria 24h--}}
      <div class="form-group">
        <label for="Porteria24h" class="form-label">Porteria 24 Horas</label>
        <div class="input-group">
          <span class="input-group-text"><i class="fas fa-user-shield"></i></span>
          <select class="form-select" id="Porteria24h" aria-label="Si tiene porteria" aria-describedby="Porteria24hDesc" name="porteria24h" required>
            <option value="{{Asset.porteria24h}}">Selección Original</option>
            <option value="No">No</option>
            <option value="Sí">Sí</option>
          </select>
        </div>
        <div id="Porteria24hDesc" class="form-text">Si la propiedad cuenta con porteria las 24 horas.</div>
      </div>
    </div>

    <div class="col">
    {{!--Vivienda--}}
      <div class="form-group">
        <label for="Vivienda" class="form-label">Tipo de Vivienda</label>
        <div class="input-group">
          <span class="input-group-text"><i class="fas fa-home"></i></span>
          <select class="form-select" id="Vivienda" aria-label="Tipo de Vivienda" aria-describedby="ViviendaDesc" name="vivienda" required>
            <option value="{{Asset.vivienda}}">Selección Original</option>
            <option value="Casa">Casa</option>
            <option value="Apartamento">Apartamento</option>
          </select>
        </div>
        <div id="ViviendaDesc" class="form-text">Si es apartamento o casa.</div>
      </div>
    </div>

    </div>

    {{!--Segmento de 3 columnas--}}
    <div class="row align-items-start">

    <div class="col">
    {{!--Familia--}}
      <div class="form-group">
        <label for="Familia" class="form-label">Familias Que Habitan</label>
        <div class="input-group">
          <span class="input-group-text"><i class="fas fa-bed"></i></span>
          <select class="form-select" id="Familia" aria-label="Tipo de propiedad familiar" aria-describedby="FamiliaDesc" name="familia" required>
            <option value="{{Asset.familia}}">Selección Original</option>
            <option value="Unifamiliar">Unifamiliar</option>
            <option value="Bifamiliar">Bifamiliar</option>
          </select>
        </div>
        <div id="FamiliaDesc" class="form-text">Si es bifamiliar o unifamiliar.</div>
      </div>
    </div>

    <div class="col">
    {{!--Servicios Incluidos--}}
      <div class="form-group">
        <label for="Servicios" class="form-label">Servicios Incluidos</label>
        <div class="input-group">
          <span class="input-group-text"><i class="fas fa-hand-holding-water"></i></span>
          <select class="form-select" id="Servicios" aria-label="Si incluye servicios" aria-describedby="ServiciosDesc" name="servicios" required>
            <option value="{{Asset.servicios}}">Selección Original</option>
            <option value="No">No</option>
            <option value="Sí">Sí</option>
          </select>
        </div>
        <div id="ServiciosDesc" class="form-text">Si incluye servicios.</div>
      </div>
    </div>

    <div class="col">
    {{!--Acceso a la red de Gas--}}
      <div class="form-group">
        <label for="Gas" class="form-label">Acceso A La Red De Gas</label>
        <div class="input-group">
          <span class="input-group-text"><i class="fas fa-burn"></i></span>
          <select class="form-select" id="Gas" aria-label="Si incluye Gas" aria-describedby="GasDesc" name="gas" required>
            <option value="{{Asset.gas}}">Selección Original</option>
            <option value="No">No</option>
            <option value="Sí">Sí</option>
          </select>
        </div>
        <div id="GasDesc" class="form-text">Si incluye gas.</div>
      </div>
    </div>

    </div>

    {{!--Campos opcionales--}}
    <div class="row align-items-middle">
    <h5 class="card-subtitle text-muted d-flex justify-content-center mb-2">Campos Opcionales</h5>
    </div>

    {{!--Segmento de 4 columnas--}}
    <div class="row align-items-start">

    <div class="col">
    {{!--Piso--}}
      <div class="form-group">
        <label for="Piso" class="form-label">Piso</label>
        <div class="input-group">
          <span class="input-group-text"><i class="fas fa-building"></i></span>
          <input type="number" class="form-control" id="Piso" aria-describedby="PisoDesc" name="piso" min="1" max="999" value="{{Asset.piso}}">
        </div>
        <div id="PisoDesc" class="form-text">Piso en el que se ubica (solo edificios).</div>
      </div>
    </div>
    
    <div class="col">
    {{!--Ascensor--}}
      <div class="form-group">
        <label for="Ascensor" class="form-label">Ascensor</label>
        <div class="input-group">
          <span class="input-group-text"><i class="fas fa-caret-square-up"></i></span>
          <select class="form-select" id="Ascensor" aria-label="Si tiene Ascensor" aria-describedby="AscensorDesc" name="ascensor">
            <option value="{{Asset.ascensor}}">Selección Original</option>
            <option value="No">No</option>
            <option value="Sí">Sí</option>
          </select>
        </div>
        <div id="AscensorDesc" class="form-text">Si tiene ascensor (solo edificios).</div>
      </div>
    </div>

    <div class="col">
    {{!--Juegos Infantiles--}}
      <div class="form-group">
        <label for="Juegos" class="form-label">Juegos Infantiles</label>
        <div class="input-group">
          <span class="input-group-text"><i class="fas fa-puzzle-piece"></i></span>
          <select class="form-select" id="Juegos" aria-label="Si tiene Juegos" aria-describedby="JuegosDesc" name="juegos">
            <option value="{{Asset.juegos}}">Selección Original</option>
            <option value="No">No</option>
            <option value="Sí">Sí</option>
          </select>
        </div>
        <div id="JuegosDesc" class="form-text">Si tiene juegos infantiles.</div>
      </div>
    </div>

    <div class="col">
    {{!--Areas Comunes--}}
      <div class="form-group">
        <label for="Areas_Comunes" class="form-label">Áreas Comunes</label>
        <div class="input-group">
          <span class="input-group-text"><i class="fas fa-tree"></i></span>
          <select class="form-select" id="Areas_Comunes" aria-label="Si tiene Areas Comunes" aria-describedby="Areas_ComunesDesc" name="areas_comunes">
            <option value="{{Asset.areas_comunes}}">Selección Original</option>
            <option value="No">No</option>
            <option value="Sí">Sí</option>
          </select>
        </div>
        <div id="Areas_ComunesDesc" class="form-text">Si tiene áreas comunes.</div>
      </div>
    </div>

    </div>

    {{!--Segmento de 4 columnas--}}
    <div class="row align-items-start">
    
    <div class="col">
    {{!--Area--}}
      <div class="form-group">
        <label for="Area" class="form-label">Área</label>
        <div class="input-group">
          <input type="number" class="form-control" id="Area" aria-describedby="AreaDesc" name="area" min="1" max="99999" value="{{Asset.area}}">
          <span class="input-group-text">m²</span>
        </div>
        <div id="AreaDesc" class="form-text">Área (Metros Cuadrados) de la propiedad.</div>
      </div>
    </div>

    <div class="col">
    {{!--Antiguedad--}}
      <div class="form-group">
        <label for="Antiguedad" class="form-label">Antigüedad</label>
        <div class="input-group">
          <input type="number" class="form-control" id="Antiguedad" aria-describedby="AntiguedadDesc" name="antiguedad" min="1" max="99999" value="{{Asset.antiguedad}}">
          <span class="input-group-text">Años</span>
        </div>
        <div id="AntiguedadDesc" class="form-text">Años de antigüedad de la propiedad.</div>
      </div>
    </div>

    <div class="col">
    {{!--Constructora--}}
      <div class="form-group">
        <label for="Constructora" class="form-label">Constructora</label>
        <div class="input-group">
          <span class="input-group-text"><i class="fas fa-hard-hat"></i></span>
          <input type="text" class="form-control" id="Constructora" aria-describedby="ConstructoraDesc" name="constructora" value="{{Asset.constructora}}">
        </div>
        <div id="ConstructoraDesc" class="form-text">Empresa constructora de la propiedad.</div>
      </div>
    </div>

    <div class="col">
    {{!--Predial--}}
      <div class="form-group">
        <label for="Predial" class="form-label">Impuesto Predial</label>
        <div class="input-group">
          <span class="input-group-text"><i class="fas fa-dollar-sign"></i><i class="bi bi-bank2"></i></span>
          <input type="number" class="form-control" id="Predial" aria-describedby="PredialDesc" name="predial" min="0" max="999999999999" value="{{Asset.predial}}">
        </div>
        <div id="PredialDesc" class="form-text">Valor del impuesto predial.</div>
      </div>
    </div>

    </div>

    {{!--Descripcion--}}
      <div class="form-group" style="margin-top: 7px;">
        <label for="Descripcion" class="form-label">Descripción</label>
        <textarea class="form-control" rows="5" id="Descripcion" aria-describedby="DescripcionDesc" name="descripcion">{{Asset.descripcion}}</textarea>
        <div id="DescripcionDesc" class="form-text">Una descripción general de la propiedad (Este campo NO es obligatorio).</div>
      </div>

    {{!--Boton de enviar--}}
    <div class="form-group" style="margin-top: 10px;">
      <button type="submit" class="btn btn-outline-primary btn-lg">Actualizar</button>
    </div>
    </form>
  </div>
  
  </div>
</div>
</div>
</div>

{{!--Footer de la pagina--}}
{{> footer }}